body {
    /* background-image: url(../assets/bbmap1.png); */
    /* background-size: 60%;
    background-repeat: no-repeat;
    background-position: center; */
    /* background-repeat: repeat-y; */
    /* display: flex;
    flex-direction: column; */
    
}

.header-info {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 30px;
    top: 10px;
    

}

#user-image {
    height: 100px;
    border-radius: 50px;
    margin-right: 15px;
    border: red 2px solid;
}

.header {
    display: flex;
    
}

#quest-links {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/bbmap1.png);
    position: relative;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    background-position: center;
}

.quest {
    position: absolute;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
